version: "3.9"

services:
  redis:
    image: redis:7-alpine
    container_name: redis
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis-data:/data
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    environment:
      - TZ=Europe/Moscow
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10

  postgres:
    image: postgres:16-alpine
    container_name: postgres_db
    environment:
      POSTGRES_DB: bot_manager
      POSTGRES_USER: botuser
      POSTGRES_PASSWORD: botpass
      TZ: Europe/Moscow
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    # Убрать ports для внутреннего использования
    # ports:
    #   - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U botuser -d bot_manager"]
      interval: 5s
      timeout: 3s
      retries: 10

  pgbackups:
    image: prodrigestivill/postgres-backup-local
    container_name: pgbackups
    restart: always
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_DB: bot_manager
      POSTGRES_USER: botuser
      POSTGRES_PASSWORD: botpass
      SCHEDULE: "@daily"
      BACKUP_KEEP_DAYS: 7
      BACKUP_KEEP_WEEKS: 4
      BACKUP_KEEP_MONTHS: 6
      BACKUP_DIR: /backups
    volumes:
      - ./backups:/backups

  django:
    build: ./django_app
    container_name: django_app
    expose:
      - "8000"
    environment:
      - DJANGO_SETTINGS_MODULE=bot_manager.settings
      - REDIS_URL=redis://redis:6379/0
      - TZ=Europe/Moscow
      - DB_HOST=postgres
      - DB_NAME=bot_manager
      - DB_USER=botuser
      - DB_PASS=botpass
      - HTTP_PROXY=http://user332874:69nbw8@213.139.231.94:6078
    depends_on:
      postgres:
        condition: service_healthy
      entity_post:
        condition: service_started
      redis:
        condition: service_healthy
    volumes:
      - ./django_app/staticfiles:/app/staticfiles
      - ./avatars:/app/avatars
      - ./telethon_sessions:/app/var/telethon_sessions
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - ./django_app:/app

  entity_post:
    build: ./post_tg
    container_name: entity_post
    command: supervisord -c /app/entity_post/supervisord.conf
    environment:
      - TZ=Europe/Moscow
      - DB_HOST=postgres
      - DB_NAME=bot_manager
      - DB_USER=botuser
      - DB_PASS=botpass
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./avatars:/app/avatars
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  ads_post:
    build: ./post_tg
    container_name: ads_post
    command: supervisord -c /app/ads_post/supervisord.conf
    environment:
      - TZ=Europe/Moscow
      - DB_HOST=postgres
      - DB_NAME=bot_manager
      - DB_USER=botuser
      - DB_PASS=botpass
      - ADS_CHECK_INTERVAL=30
      - ADS_UNPIN_AFTER_SEC=3600
      - ADS_DELETE_AFTER_SEC=86400
      - ADS_ADMIN_TG_ID=426819847
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./avatars:/app/avatars
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  pinner:
    build: ./post_tg
    container_name: pinner
    command: supervisord -c /app/daily_pinner/supervisord.conf
    environment:
      - TZ=Europe/Moscow
      - DB_HOST=postgres
      - DB_NAME=bot_manager
      - DB_USER=botuser
      - DB_PASS=botpass
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./avatars:/app/avatars
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
  
  admin_promoter:
    build: ./post_tg
    container_name: admin_promoter
    command: supervisord -c /app/admin_promoter/supervisord.conf
    environment:
      - TZ=Europe/Moscow
      - DB_HOST=postgres
      - DB_NAME=bot_manager
      - DB_USER=botuser
      - DB_PASS=botpass
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./avatars:/app/avatars
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  view_booster:
    build: ./post_tg
    container_name: view_booster
    dns:
      - 8.8.8.8
      - 1.1.1.1
    command: supervisord -c /app/view_booster/supervisord_view.conf
    environment:
      - TZ=Europe/Moscow
      - DB_HOST=postgres
      - DB_NAME=bot_manager
      - DB_USER=botuser
      - DB_PASS=botpass
      - HTTP_PROXY=http://user332874:69nbw8@213.139.231.94:6078
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./avatars:/app/avatars
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
  
  old_views_booster:
    build: ./post_tg
    container_name: old_views_booster
    dns:
      - 8.8.8.8
      - 1.1.1.1
    command: supervisord -c /app/old_views_booster/supervisord_old_views.conf
    environment:
      - TZ=Europe/Moscow
      - DB_HOST=postgres
      - DB_NAME=bot_manager
      - DB_USER=botuser
      - DB_PASS=botpass
      - HTTP_PROXY=http://user332874:69nbw8@213.139.231.94:6078
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./avatars:/app/avatars
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  subscribers_booster:
    build: ./post_tg
    container_name: subscribers_booster
    dns:
      - 8.8.8.8
      - 1.1.1.1
    command: supervisord -c /app/subscribers_booster/supervisord_subscribers.conf
    environment:
      - TZ=Europe/Moscow
      - DB_HOST=postgres
      - DB_NAME=bot_manager
      - DB_USER=botuser
      - DB_PASS=botpass
      - HTTP_PROXY=http://user332874:69nbw8@213.139.231.94:6078
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./avatars:/app/avatars
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  second_subscribers_booster:
    build: ./post_tg
    container_name: second_subscribers_booster
    dns:
      - 8.8.8.8
      - 1.1.1.1
    command: supervisord -c /app/second_subscribers_booster/supervisord.conf
    environment:
      - TZ=Europe/Moscow
      - DB_HOST=postgres
      - DB_NAME=bot_manager
      - DB_USER=botuser
      - DB_PASS=botpass
      - HTTP_PROXY=http://user332874:69nbw8@213.139.231.94:6078
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./avatars:/app/avatars
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  channel_sync:
    build: ./post_tg
    container_name: channel_sync
    dns:
      - 8.8.8.8
      - 1.1.1.1
    command: supervisord -c /app/channel_sync/supervisord.conf
    environment:
      - TZ=Europe/Moscow
      - DB_HOST=postgres
      - DB_NAME=bot_manager
      - DB_USER=botuser
      - DB_PASS=botpass
      - HTTP_PROXY=http://user332874:69nbw8@213.139.231.94:6078
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./avatars:/app/avatars
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      
  currency_post:
    build: ./post_tg
    container_name: currency_post
    dns:
      - 8.8.8.8
      - 1.1.1.1
    command: supervisord -c /app/currency/supervisord.conf
    environment:
      - TZ=Europe/Moscow
      - DB_HOST=postgres
      - DB_NAME=bot_manager
      - DB_USER=botuser
      - DB_PASS=botpass
      - HTTP_PROXY=http://user332874:69nbw8@213.139.231.94:6078
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./avatars:/app/avatars
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  blondinka:
    build: ./post_tg
    container_name: blondinka
    dns:
      - 8.8.8.8
      - 1.1.1.1
    command: supervisord -c /app/blondinka/supervisord.conf
    environment:
      - TZ=Europe/Moscow
      - DB_HOST=postgres
      - DB_NAME=bot_manager
      - DB_USER=botuser
      - DB_PASS=botpass
      - HTTP_PROXY=http://user332874:69nbw8@213.139.231.94:6078
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./avatars:/app/avatars
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  reaction_booster:
    build: ./post_tg
    container_name: reaction_booster
    dns:
      - 8.8.8.8
      - 1.1.1.1
    command: supervisord -c /app/reaction_booster/supervisord_reaction.conf
    environment:
      - TZ=Europe/Moscow
      - DB_HOST=postgres
      - DB_NAME=bot_manager
      - DB_USER=botuser
      - DB_PASS=botpass
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./avatars:/app/avatars
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro

  nginx:
    image: nginx:latest
    container_name: nginx_gateway
    ports:
      - "80:80"
    environment:
      - TZ=Europe/Moscow
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./django_app/staticfiles:/app/staticfiles:ro
      - ./avatars:/app/avatars:ro
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    depends_on:
      - django
      - entity_post

volumes:
  redis-data:
  postgres-data:
