aiohappyeyeballs==2.6.1
aiohttp==3.13.1
aiosignal==1.4.0
asgiref==3.9.1
async-timeout==5.0.1
attrs==25.4.0
certifi==2025.8.3
charset-normalizer==3.4.3
Django==5.2.6
django-adminlte4==0.1.1
django-model-utils==5.0.0
django-redis==6.0.0
django-rest-framework==0.1.0
djangorestframework==3.16.1
docker==7.1.0
dotenv==0.9.9
frozenlist==1.8.0
gunicorn==23.0.0
idna==3.10
multidict==6.7.0
packaging==25.0
pillow==11.3.0
propcache==0.4.1
psycopg2-binary==2.9.10
pyaes==1.6.1
pyasn1==0.6.1
Pyrogram==2.0.106
PySocks==1.7.1
python-dotenv==1.1.1
pytz==2025.2
redis==6.4.0
requests==2.32.5
rsa==4.9.1
sqlparse==0.5.3
Telethon==1.41.2
TgCrypto==1.2.5
typing_extensions==4.15.0
urllib3==2.5.0
yarl==1.22.0
